Projeto prático Análise de Dados com Python e Pandas

In [2]:
# Importando a biblioteca pandas
import pandas as pd

In [3]:
# abrindo arquivo csv com o parametro error_bad_lines=False
# esse parametro server para ignora linhas que estao com algum error
df = pd.read_csv("ocorrencia.csv", error_bad_lines=False)

In [4]:
# visualizando as 5 primeiras linhas
df.head()

  codigo_ocorrencia;codigo_ocorrencia2;ocorrencia_classificacao;ocorrencia_cidade;ocorrencia_uf;ocorrencia_aerodromo;ocorrencia_dia;ocorrencia_hora;total_recomendacoes
0  40211;40211;INCIDENTE;RIO DE JANEIRO;RJ;****;0...
1  40349;40349;INCIDENTE;BELÉM;PA;SBBE;03/01/2010...
2  40351;40351;INCIDENTE;RIO DE JANEIRO;RJ;SBRJ;0...
3  39527;39527;ACIDENTE;LUCAS DO RIO VERDE;MT;***...
4  40324;40324;INCIDENTE;PELOTAS;RS;SBPK;05/01/20...

In [5]:
# o formato da visualizacao ta estranho, isso se deve por causa do separado
# para resolver, basta carrega o csv com sep=";"
df = pd.read_csv("ocorrencia.csv", sep=";", error_bad_lines=False)

In [6]:
# visualizando as 5 primeiras linhas de novo
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
# para renomer colunas, usando o rename com o columns e as colunas que serao renomeadas

# df.rename(columns={"":""})

In [7]:
# verificando o total de linhas e coluna 
df.shape

(6114, 9)

In [8]:
# total de colunas
df.columns

Index(['codigo_ocorrencia', 'codigo_ocorrencia2', 'ocorrencia_classificacao',
       'ocorrencia_cidade', 'ocorrencia_uf', 'ocorrencia_aerodromo',
       'ocorrencia_dia', 'ocorrencia_hora', 'total_recomendacoes'],
      dtype='object')

In [9]:
# tipo de dados de cada coluna
df.dtypes

codigo_ocorrencia            int64
codigo_ocorrencia2           int64
ocorrencia_classificacao    object
ocorrencia_cidade           object
ocorrencia_uf               object
ocorrencia_aerodromo        object
ocorrencia_dia              object
ocorrencia_hora             object
total_recomendacoes          int64
dtype: object

In [10]:
# verificando as informações estatisticas do dataframe
df.describe()

# count == total de linhas para cada coluna
# mean == media para cada coluna
# std == desvio padrao para cada coluna
# min == valor mimino para cada coluna
# 25% == quartis
# 50% == quartis, esse é equivalente a mediana
# 75% == quartis
# max  == valor maximo para cada coluna

       codigo_ocorrencia  codigo_ocorrencia2  total_recomendacoes
count        6114.000000         6114.000000          6114.000000
mean        59775.058063        59775.058063             0.307164
std         14552.373693        14552.373693             1.143202
min         39115.000000        39115.000000             0.000000
25%         46586.250000        46586.250000             0.000000
50%         53110.500000        53110.500000             0.000000
75%         78142.500000        78142.500000             0.000000
max         80259.000000        80259.000000            23.000000

In [11]:
# fazendo filtros
# retornando os valores unicos 
df["ocorrencia_cidade"].unique()

array(['RIO DE JANEIRO', 'BELÉM', 'LUCAS DO RIO VERDE', ..., 'AMAPÁ',
       'ITAGUAÍ', 'DOM AQUINO'], dtype=object)

In [14]:
# fazendo filtros
 
belem = df.loc[df["ocorrencia_cidade"] == "BELÉM"]
belem

      codigo_ocorrencia  ...  total_recomendacoes
1                 40349  ...                    0
36                39850  ...                    0
40                39158  ...                    0
92                40322  ...                    0
93                40307  ...                    0
...                 ...  ...                  ...
5858              79948  ...                    0
5862              79951  ...                    0
5911              80025  ...                    0
5937              80040  ...                    0
6111              80251  ...                    0

[84 rows x 9 columns]

In [15]:
# agrupamento de dados
# quantas cidades tem por estado
df.groupby("ocorrencia_uf")["ocorrencia_cidade"].nunique()

ocorrencia_uf
***      2
AC      12
AL      11
AM      36
AP       3
BA      56
CE      22
DF       1
ES      18
GO      78
MA      30
MG     129
MS      46
MT      83
PA      53
PB       8
PE      21
PI      18
PR     101
RJ      28
RN      12
RO      12
RR      13
RS      82
SC      47
SE       4
SP     207
TO      18
Name: ocorrencia_cidade, dtype: int64

In [19]:
# para cada dia, qual a media do total de recomentados
df.groupby("ocorrencia_dia")["total_recomendacoes"].mean()

ocorrencia_dia
01/01/2011    5.0
01/01/2013    0.0
01/01/2015    3.0
01/01/2019    0.0
01/01/2020    1.0
             ...
31/12/2015    0.0
31/12/2016    0.5
31/12/2018    0.0
31/12/2019    0.0
31/12/2020    0.0
Name: total_recomendacoes, Length: 3155, dtype: float64

In [20]:
# media do total de recomendações
df["total_recomendacoes"].mean()

0.3071638861629048

In [21]:
# soma do total de recomendações
df["total_recomendacoes"].sum()

1878

In [16]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]